.main__Question{
    position: relative;
    height:100vh;
    overflow-y: scroll;
    background-color:#EAE2FF;
}

.header__Question{
  position:sticky;
  width:100%;
  padding:20px;
  background-color:#EAE2FF;
  z-index:3;
}


/* .accordion__Question{

} */

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #6D6AFF;
  font-weight: 700;
  font-size: 16px;
  color:#FFFFFF;
}

.accordion-title:hover {
  background-color: #615EEA;
}

.accordion-title,
.accordion-content {
  padding: 0.5rem;

}

.accordion-content {
  background-color: #EAE2FF;
  color:#464E5F;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}

.accordion-title{
  border-radius: 8px;
  margin: 10px;
}

.modalCSS{
  background:rgba(70, 78, 95, 0.74);
}