.box1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;
}
.boxes{
    width: 300px;
    background-color:#C4E6E6;
    margin: 10px 5px;
    border-radius: 20px;
    padding: 20px;
}
.boxes img{
    width: 100%;
    height: 70%;
}
.boxes h5{
    text-align: center;
    word-wrap: break-word;
}
.boxes button{
    width: 100px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.boxes button svg{
    width: 30px;
    height: 30px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 20px;
}
.svg-open{
    position: relative;
    top: -8px;
}